AWS_ACCESS_KEY_ID=aaki
AWS_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=asak
AWS_ACCOUNT_ID=aaid

DATABASE_POOL_SIZE=15
POSTGRES_PASSWORD=password
DB_ENV_POSTGRES_DATABASE=postgres
DB_ENV_POSTGRES_PASSWORD=password
DB_ENV_POSTGRES_USER=postgres
DB_PORT_5432_TCP_ADDR=db
DB_PORT_5432_TCP_PORT=5432

SECRET_KEY_BASE=thisisnotasecret
SECRET_TOKEN=thisisnotasecret

NEW_RELIC_KEY=

RAILS_ENV=development
LOCAL_ENV=true
